[id] [id] .Hero {
  position: relative;

  @media (max-width: 400px) {
    overflow: hidden;
  }
  &-content {
    max-width: 80%;
    width: 100%;

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  & > * {
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.18;
    z-index: 0;

    @media (max-width: 768px) {
      opacity: 0.35;
    }
  }

  [class*='subtitle'] {
    line-height: 150%;

    @media (min-width: 769px) {
      font-size: 20px;
    }
  }
}
