.Header {
  &-right {
    a {
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .icon-instagram {
    width: 20px;
    height: 20px;
  }
}
