.Footer {
  &-bottom {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  [class*='Bottom'] {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .contentBottom {
    display: flex !important;
  }

  [class*='copyrightContainer'] {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  &-amazon {
    max-width: 100%;
    svg {
      max-width: 100%;
      height: auto;
      width: 320px;
    }
  }
}
